extends layout

block content
  h1= title
  p Welcome to #{title}

block scripts
  script(src="https://unpkg.com/axios/dist/axios.min.js").
  script(defer, type='text/javascript').
    axios.post('http://localhost:8080').then((res)=>{
      console.log(res,'1')
    })

    // プリフライトリクエストする
    setTimeout(() => {
      axios.post('http://localhost:8080', {
        firstName: 'Fred',
        lastName: 'Flintstone'
      }).then((res) => {
        console.log(res, '2')
      })
    },3000)



